<h1>{{ title }}</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Paid</th>
      <th>Amount</th>
      <th>Customer</th>
      <th>Created</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let bill of bills">
      <td><input type="text"
               [(ngModel)]="bill._id"
               (change)="clgBills()"></td>
      <td><input type="checkbox"
               [(ngModel)]="bill.paid"
               (change)="clgBills()"></td>
      <!--<td>{{ bill.paid }}</td>-->
      <td><input type="text"
               [(ngModel)]="bill.amount"
               (change)="clgBills()"></td>
      <td><input type="text"
               [(ngModel)]="bill.customer"
               (change)="clgBills()"></td>
      <td><input type="text"
               [(ngModel)]="bill.created"
               (change)="clgBills()"></td>
    </tr>
  </tbody>
</table>